@{
    ViewData["Title"] = "Home Page";
    var version = ViewBag.Version;
}

<div class="text-center">
    <h1 class="display-4">Welcome to ILO's @version test webapp</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
